<div id="event-name">
  <%= @event.name if @event.name%>
</div>
<div id="event-date">
  <%= @event.date if @event.date %>
</div>
<div id="event-time">
  <%= @event.time if @event.time %>
</div>
<div id="event-location">
  <%= @event.location if @event.location %>
</div>
