/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/*--- Main CSS here ---*/

/*------------------------------------*\
 *     $IPHONE
 *     \*------------------------------------*/
#logo{
  font-size: 37px;
}

#name{
  font-size: 35px;
}

#events {
  padding-top: 20px;
}

#event-contents {
  padding-top: 15px;
}

#event-date{
  float: left;
}

#event-time{
  padding-left: 70px;
}

#event-label{
  font-size: 22px;
}

#event-name{
  padding-left: 20%;
}
@media screen and (max-device-width: 480px){
    /*--- iPhone only CSS here ---*/
}
