/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/*--- Main CSS here ---*/

/*------------------------------------*\
 *     $IPHONE
 *     \*------------------------------------*/

body {
  font-family: 'PT Sans Narrow';
}
#logo {
  font-size: 37px;
}

#name {
  font-size: 30px;
  text-align: center;
}

#events {
  padding-top: 20px;
}

#event-contents {
  padding-top: 20px;
}

#event-date{
  float: left;
  padding-left: 30px;
  width: 63px;
}

#event-time{
  margin-left: 32px;
  padding-left: 133px;
}

#event-label{
  font-size: 28px;
}

.logo {
  display: block;
  float: left;
  padding: 9px 0% 0% 4%;
  font-size: 20px;
  font-weight: 200;
  color: #777;
}

#date-time-details{
  padding-top: 20px;
}

#event-date-details{
  font-size: 20;
}

#event-name{
  padding-left: 20%;
}

#event-location{
  clear: both;
  padding-top: 28px;
  padding-left: 33px;
}

#share-buttons{
  padding-left: 33px;
}

@media screen and (max-device-width: 480px){
    /*--- iPhone only CSS here ---*/
}
